@media screen and (max-width: 1090px){
    .about-img img {
        width: 370px;
        height: 264px;
    }
    .work img {
        width: 350px;
    }
    #footer{
        text-align: center;
    }
    .app-store{
        text-align: center;
    }
    .app-store2{
        text-align: center;
    }
    .app{
        margin-top: 15px;
    }
    .fa-play{
        left: 350px;
    }
}